@import "_function";

.m-logo {
  display: block;
  float: left;
  font-size: 22px;
  line-height: 40px;
  width: 165px;
  color: #fff;
  text-indent: -9999px;
  background: url('../images/logo.png?1444011587') no-repeat left center;
  -webkit-background-size: 125px 40px;
  background-size: 125px 40px;
  margin-right: 20px;
}
